/* Define the keyframes for fade-in effect */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Apply the animation to your element */
#cktc-main {
    animation: fadeIn 2s ease-in-out;
}

#cktc-button-01 {
    animation: cktcColorFade01 10s infinite;
}

@keyframes cktcColorFade01 {
    0%,
    100% {
        background-color: #e390c5;
    }
    50% {
        background-color: #99dcfd;
    }
}
#cktc-button-02 {
    animation: cktcColorFade02 10s infinite;
}

@keyframes cktcColorFade02 {
    0%,
    100% {
        background-color: #99dcfd;
    }
    50% {
        background-color: #e390c5;
    }
}

#email-block {
    opacity: 0;
}
